.box {
    width: 33.33%;
    height: 33.33%;
    background-color: blueviolet;
    box-shadow: 0 0 0 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
  }